body {
    background-color: rgb(218, 246, 215);

}

.container {


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 800px;



}

.main_div {


    width: 700px;
    height: 500px;

    background-color: white;
    border-radius: 10px;
    outline-style: double;
    outline-color: rgb(239, 249, 239);
    outline-width: 10px;

}