/** @format */


/************************ MOBILE VERSION **************************/

@media screen and (max-width: 900px) {


    html {

        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        
    }

    .butterfly-parent > img {

        display: block !important;
        height: 70px;
        position: relative;
        bottom: 60px;


    }

    .intro-page {
        
        display: none !important;
    }

    .intro-parent {

        display: none ;

        margin-top: 10%;


    }


    .intro-parent > img {
        
        top: -100px !important;
        left: 140px !important;
        height: 50px !important;
    }

    .mobile-message {

        display: block !important;

        width: 80%;
        text-align: center;
        position: relative;
        bottom: 50px;



    }
    



}



/************************ DESKTOP VERSION **************************/


body {
  background-color: rgb(218, 246, 215);
}

.butterfly-parent > img {

    display: none;
}

.mobile-message {

    display: none;
}

.intro-parent {
  display: flex;
  height: 700px;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 800px;
  flex-direction: column;
  gap: 10px;

  font-size: large;
  color: rgba(36, 170, 105, 0.974);
  font-family: "Lucida Sans", sans-serif;
}

.intro-parent > img:nth-child(2) {
  height: 100px;
  position: relative;
  top: 35px;
  left: 290px;
  transform: rotate(7deg);
}

.intro-page > img:nth-child(3) {
  height: 70px;
  position: relative;
  top: 60px;
}

.intro-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 400px;
  width: 600px;
  border-radius: 10px;

  font-family: "Lucida Sans", sans-serif;
  font-weight: 600;

  gap: 10px;

  outline-style: double;
  outline-style: double;
  outline-color: rgb(239, 249, 239);
  outline-width: 10px;
}

.intro-page > p {
  position: relative;
  top: 12px;
}

.intro-page > img:nth-child(4) {
  height: 50px;
  position: relative;
  left: -300px;
  top: 125px;
}
.intro-page > img:nth-child(5) {
  height: 50px;
  position: relative;
  left: -280px;
  top: 100px;
}
.intro-page > img:nth-child(6) {
  height: 50px;
  position: relative;
  left: -230px;
  top: 45px;
}

/*****************************ANIMATION **********************************/

.intro-page {
  background: linear-gradient(270deg, #73da6de9, #efb7d4, #f6d686);
  background-size: 600% 600%;

  -webkit-animation: summergarden 20s ease infinite;
}

@-webkit-keyframes summergarden {
  20% {
    background-position: 80% 20%;
  }

  50% {
    background-position: 80% 20%;
  }

  80% {
    background-position: 20% 80%;
  }
}

/*****************************ANIMATION END **********************************/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.main-div {
  width: 700px;
  height: 500px;

  background-color: white;
  border-radius: 10px;
  outline-style: double;
  outline-color: rgb(239, 249, 239);
  outline-width: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}

.point-board {
  height: 70px;
  width: 100px;
  position: relative;
  bottom: 60px;
  display: none;
}

.point-board > h2 {
  text-align: center;
  color: rgb(143, 187, 143);
  font-family: "Lucida Sans", sans-serif;
}

.final-message {
  position: relative;
  top: 200px;
  left: 200px;
  color: rgba(214, 187, 241, 0.974);
  font-family: "Lucida Sans", sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  font-size: 50px;
  outline-style: double;
  display: inline;
  outline-width: 5px;
  outline-color: rgb(239, 249, 239);
  display: none;
}

#start-button {
  background-color: #e4c67a03;

  position: relative;
  bottom: 70px;
  height: 30px;
  width: 70px;
  border-radius: 20px;
  border-style: double;
  border-width: 3px;
  border-color: beige;
  color: rgb(245, 245, 243);
  font-size: medium;
}

#start-button:hover {
  box-shadow: 10px 10px 15px 2px rgb(162, 248, 228);
}

#restart-button {

    height: 50px;
    width: 100px;
    height: 30px;
    
    border-radius: 20px;
    border-style: double;
    background-color: #e4c67a03;
    border-width: 3px;
    border-color: beige;
    color: rgb(143, 187, 143);
    font-size: medium;
    font-weight:500 ;
    display: none;
}

#restart-button:hover {
   box-shadow: 10px 10px 15px 2px rgb(162, 248, 228);
}